$colorFondo: rgb(254, 246, 255);
$colorTexto: #b3009d ;
$fuenteTexto: 'Raleway', sans-serif;
$colorTitulos: #b3009d;
$cuerpoSize: 1.5em;
$tituloSize: 2em;
$fondoNoticia: white;
$paddingNoticia: 50px;
$colorfoothead: black;
$bannerespacio: 25em;