$colorFondo: #cfe3fd;
$colorTexto: #4C6EE6 ;
$fuenteTexto: 'Raleway', sans-serif;
$colorTitulos: #4C6EE6;
$cuerpoSize: 1.5em;
$tituloSize: 2em;
$fondoNoticia: #cfe3fd;
$paddingNoticia: 50px;
$colorfoothead: #22AAF5;
$bannerespacio: 25em;